<!doctype html >
<html lang="en" >
<head >
    <title>Contactec</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/dimensionesCajas.css">
</head>
<body class="bodyBG" >     
    <header>   
            
        <nav class="navCentral">
            <ul>
                <li><a>Lista de contactos   /</a> </li>
                <li><a routerLink="/agregado" class="enlace" >Agregar contacto</a> </li>                
            </ul>
        </nav>
        
    </header>  
    <div class="contenedor">
        <div class="columna">
            <div class = "listaContactos">
                <div>
                    <ul>
                    <li *ngFor="let contacto of lista_Contactos | async">{{contacto.nombre}}</li>
                    </ul>
                    </div>
                    aqui debe haber una lista de etiquetas que vayan a cada contacto    
            </div>
        </div>
        <div class = "columna2">
            <ul class="seqMostrar">
                <li>Nombre:
                    
                </li>
                <li>Primer apellido:
                    
                </li>
                <li>Segundo apellido:
                    
                </li>
                <li>Número Celular:
                    
                </li>
                <li>Segundo número Celular:
                    
                </li>
                <li>Correo electrónico:
                    
                </li>
                <li>Profesion:
                    
                </li>
            </ul>            
        </div>
    </div>

</body>
</html>
