<!doctype html >
<html lang="en" >
<head >
    <title>Contactec</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/dimensionesCajas.css">
</head>
<body class="bodyBG" >     
    <header>   
        <br><br/>     
        <nav class="navCentral">
            <ul >
                <li><a>Lista de contactos</a> </li>
                <li><a>Agregar contacto</a> </li>                
            </ul>
        </nav>
        
    </header>  
    <div class="contenedor">
        <div class = "listaContactos">
            <app-listado></app-listado>
        </div>
    </div>

</body>
</html>
