<!doctype html >
<html lang="en" class="bodyBG" >
<head >
    <title>Contactec</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/dimensionesCajas.css">
</head>
<body class="bodyBG" >     
    <header>   
           
        <nav class="navCentral">
            <ul >
                <li><a a routerLink="/inicio" class="enlace">Lista de contactos     /</a> </li>
                <li><a>Agregar contacto</a> </li>                
            </ul>
        </nav>
        
    </header>  
    <div class="contenedor">
        <div class = "columna">
            <h2>Agregue los datos del contacto</h2>
            <ul class="seqInputs">
                <li>Nombre
                    <input type="text">
                </li>
                <li>Primer apellido
                    <input type="text">
                </li>
                <li>Segundo apellido
                    <input type="text">
                </li>
                <li>Número Celular
                    <input class = "numeroTelefono" type="number">
                </li>
                <li>Segundo número Celular
                    <input class = "numeroTelefono" type="number" placeholder="Opcional">
                </li>
                <li>Correo electrónico
                    <input type="email" placeholder="alguien@email.com">
                </li>
            </ul>            
        </div>
        <div class = "columna2">
            <ul class="seqInputs">                   
                <img src="../../../assets/contacto.png" class="foto">                   
                <li>
                    <button>Guardar</button>           
                </li>
            </ul>  
        </div>
    </div>

</body>
</html>
