<h3>Contactos</h3>
<form method="post" action="/contacto/add">
    <input type="text" name = "nombre">
    <input type="text" name = "apellido1">
    <input type="submit" value="kkkkk" >
</form>
<ul>
<% contactos.forEach(function(contacto){ %>
    <li>
        <h4><%= contacto.value.nombre %></h4>
        <%= contacto.value.apellido1 %>
        <form method="post" action="/contacto/delete/<%= contacto.key %>">
        <input type="hidden" value="<%= contacto.value.rev %>" name="rev">
        <input type="submit" value="X">
        </form>
    </li>
<% });  %>  
</ul>